# ================================================================
# Recommended local Git configuration for working with submodules:
#   git config submodule.recurse true
#   git config status.submoduleSummary true
# ================================================================

[submodule "builds/linux/fedora/coreos/streams"]
	path = builds/linux/fedora/coreos/streams
	url = https://github.com/coreos/fedora-coreos-streams.git
	branch = main
	shallow = true
